<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hamatan</h1>
      <p>hamatanは静岡大学浜松キャンパス専用の授業レビューサイトです。
      <br>会員登録なしで誰でもレビューを見ることができます。(レビューの投稿には会員登録が必要です。)
      <br>教員などへの誹謗中傷はしないでください。</p>
      <p><a class="btn btn-primary btn-lg" href="<%= lectures_path %>" role="button">授業を探す »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>レビューの探し方</h2>
        <p>まず、「授業を探す」の欄からレビューを見たい授業を検索してください。授業名、教員名などから検索することができます。そこからレビューを見ることができます。</p>
      </div>
      <div class="col-md-4">
        <h2>過去問について</h2>
        <p>現在のhamatanでは過去問の画像を載せる機能はありません。レビューの欄に直接文字で打ち込んでください。もし教員から過去問の扱いについて指導があればそれに従ってください。もし大学から管理人に指導があれば予告なくレビューを削除する場合があります。</p>
      </div>
      <div class="col-md-4">
        <h2>作成者・管理人について</h2>
        <p>70212056 宮崎紅佳里です。もし、hamatanで誹謗中傷などの問題を発見したときは静大メールに連絡してください。連絡先→あとでかく
        <br>直接話したい人は漫画研究会の部室の人につなぐよう頼んでください。</p>
      </div>
    </div>

  </div> <!-- /container -->

</main>